<!DOCTYPE html>
<html>
    <%- include head.ejs %>
    <link rel="stylesheet" href="/css/addRecipe.css">

    <body>
        <%- include navbar.ejs %>
        
        
        <!--   Add Recipe     -->
        <h1>Add Recipe</h1>
        <form>
            <label id="recipeNameLabel">Recipe Name:</label>
            <input type="text" name="recipeName" id="recipeNameInput">
            <span id="recipeNameError"></span>
            <br><br>

            <div id="ingredientInputWrapper">
                <!--    Ingredient Name Input        -->
                <div id="ingredientNameInputWrapper">
                    <label id="ingredientNameLabel">Ingredient Name:</label>
                    <input type="text" name="ingredientName" id="ingredientNameInput">
                    <span id="nameError"></span>
                </div>

                <!--    Quantity Input        -->
                <div id="quantityInputWrapper">
                    <label id="quantityLabel">Quantity:</label>
                    <input type="number" name="quantity" id="quantityInput" min="0">
                    <span id="quantityError"></span>
                </div>

                <div id="noQuantityInputWrapper">
                    <label id="noQuantityLabel" data-toggle="tooltip" title="For ingredients we do not wish to add a quantity to. It is always assumed that these ingredients have infinite quantity.">
                        No Quantity:
                    </label>
                    <input type="checkbox" id="noQuantityInput">
                </div>
                
                <!--    Add Ingredient Button            -->
                <div>
                    <button class="btn btn-primary addIngredient">Add Ingredient</button><br>
                </div>
                
            </div>
            <!-- End Ingredient Input Wrapper -->

            <span id="ingredientListError"></span>

            <!--    List of Added Ingredients            -->
            <ul class="ingredients">
                <% for(var i = 0; i < ingredientsList.length; i++) { %>
                    <% if (!ingredientsList[i].noQuantity) { %>
                        <li>
                            <p><%= ingredientsList[i].quantity%></p>
                            <p class="displayNone"><%= ingredientsList[i].noQuantity%></p>
                            <p><%=ingredientsList[i].name %></p>
                            <p class="xButton">&nbsp;&nbsp;X</p>
                        </li>
                    <% } else { %>
                            <li>    
                                <p class="displayNone"><%= ingredientsList[i].quantity%></p>
                                <p class="displayNone"><%= ingredientsList[i].noQuantity%></p>
                                <p><%=ingredientsList[i].name %></p>
                                <p class="xButton">&nbsp;&nbsp;X</p>
                            </li>
                    <% } %>
                    
                <% } %>
            </ul>

            <br><br>

            <!-- Add Recipe Button -->
            <input type="submit" name="submit" value="Add Recipe" id="addRecipe">
            <span id="recipeNameError"></span>
        </form>
        
        
        <%- include js.ejs %>
        <script src="/js/addRecipe.js"></script>
    </body>
</html>


