<!DOCTYPE html>
<html>
    <%- include head.ejs %>
    <link rel="stylesheet" href="/css/addRecipe.css">

    <body>
        <%- include navbar.ejs %>
        
        
        <!--   Add Recipe     -->
        <h1>Add Recipe</h1>
        <form>
            <label id="recipeNameLabel">Recipe Name:</label>
            <input type="text" name="recipeName" id="recipeName">
            <span id="recipeNameError"></span>
            <br><br>

            <div id="ingredientInput">
                <!--    Ingredient Name Input        -->
                <div id="ingredientNameInput">
                    <label id="ingredientNameLabel">Ingredient Name:</label>
                    <input type="text" name="ingredientName" id="ingredientName">
                    <span id="nameError"></span>
                </div>

                <!--    Quantity Input        -->
                <div id="quantityInput">
                    <label id="quantityLabel">Quantity:</label>
                    <input type="number" name="quantity" id="quantity" min="0">
                    <span id="quantityError"></span>
                </div>
                
                <!--    Add Ingredient Button            -->
                <div>
                    <button class="btn btn-primary addIngredient">Add Ingredient</button><br>
                </div>
                
            </div>

            <span id="ingredientListError"></span>

            <!--    List of Added Ingredients            -->
            <ul class="ingredients">
                <% for(var i = 0; i < ingredientsList.length; i++) { %>
                <li><p><%= ingredientsList[i].quantity%></p>
                    <p><%=ingredientsList[i].name %></p>
                    <p class="xButton">&nbsp;&nbsp;X</p>
                </li>
                <% } %>
            </ul>

            <br><br>

            <!-- Add Recipe Button -->
            <input type="submit" name="submit" value="Add Recipe" id="addRecipe">
            <span id="recipeNameError"></span>
        </form>
        
        
        <%- include js.ejs %>
        <script src="/js/addRecipe.js"></script>
    </body>
</html>


