<!DOCTYPE HTML>
<html>
    <%- include head.ejs %>
    <link rel="stylesheet" href="/css/chooseEditRecipe.css">

    <body>
        <%- include navbar.ejs %>
        
        <h1 id="chooseEditRecipeH1">Edit Recipe:</h1>

        <!-- Dropdown Start -->
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Select Recipe
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <% for (var i = 0; i < recipes.length; i++) { %>
                    <a class="dropdown-item" href="/Edit_Recipe/recipe/<%= recipes[i].id %>"><%= recipes[i].name %></a>
                <% } %>
            </div>
        </div>
        <!-- Dropdown End -->



        <%- include js.ejs %>
    </body>

</html>