<!DOCTYPE html>
<html>
    <%- include head.ejs %>

    <body>
        
        <%- include navbar.ejs %>
        
        <h1>Edit Recipe:</h1>
        
        Recipe Name:
        <input type="text" id="editRecipeName" value="<%= recipe[0].name %>">
        
        <table>
            <tbody>
            
            </tbody>
        </table>
        
        <br><br>
        
        <table>
            <tbody id="recipeTableBody">
                <tr>
                    <th>Ingredient Name</th>
                    <th>Quantity</th>
                    <th></th>
                </tr>
                
                <% for (var i = 0; i < recipe[0].ingredients.length; i++) { %>
                <tr>
                    <td>
                        <input type="text" value="<%= recipe[0].ingredients[i].name %>">
                    </td>
                    
                    <td>
                        <input type="number" value="<%= recipe[0].ingredients[i].quantity %>">
                    </td>
                    
                    <td><button type="button" class="btn btn-danger deleteRow">Delete</button></td>
                </tr> 
                <% } %>

                <tr>
                    <td colspan="2" class="addIngredientTD"><button id="addIngredientRow">Add Row</button></td>
                </tr>
            </tbody>
        </table>
        <br><br>
        <button type="button" class="btn btn-info editRecipe">Save</button>
        <input type="hidden" value="<%= recipe[0]._id %>">
        
        
        <%- include js.ejs %>
        <script src="/js/editRecipe.js"></script>
    </body>
</html>