<!DOCTYPE html>
<html>
    <%- include head.ejs %>
    <link rel="stylesheet" href="/css/editRecipe.css">

    <body>
        
        <%- include navbar.ejs %>
        
        
        <h1 id="editRecipeH1">Edit Recipe:</h1>

        <!-- Dropdown Start -->
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Select Recipe
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <% for (var i = 0; i < recipes.length; i++) { %>
                    <a class="dropdown-item" href="/Edit_Recipe/recipe/<%= recipes[i].id %>"><%= recipes[i].name %></a>
                <% } %>
            </div>
        </div>
        <!-- Dropdown End -->

        <input type="text" id="editRecipeRecipeName" value="<%= recipe.name %>"></input>

        
        <div class="headerWrapper">
            <h3>Ingredient Name</h3>
            <h3>Quantity</h3>
            <h3 id="noQuantityH3">No Quantity</h3>
        </div>
                
            <div class="ingredientsWrapper">
                <% for (var i = 0; i < recipe.ingredients.length; i++) { %>
                    <div class="ingredientRow">
                        <input type="text" class="ingredientName" value="<%= recipe.ingredients[i].name %>">
                        <input type="number" class="ingredientQuantity" value="<%= recipe.ingredients[i].quantity %>" min="0">
                        <% if (recipe.ingredients[i].noQuantity) { %>
                            <input type="checkbox" class="ingredientNoQuantity" checked>
                        <% } else { %>
                            <input type="checkbox" class="ingredientNoQuantity">
                        <% } %>
                        <input type="text" value="<%= recipe.ingredients[i].id %>" hidden>
                        <button type="button" class="btn btn-danger deleteRow">Delete</button>
                    </div>
                <% } %>
            </div>
        
        <br><br>
        <button type="button" class="btn btn-info editRecipe">Save</button>
        <input type="hidden" value="<%= recipe._id %>">
        <div class="test"></div>
        
        <%- include js.ejs %>
        <script src="/js/editRecipe.js"></script>
    </body>
</html>