<!DOCTYPE html>
<html>
    <%- include head.ejs %>

    <body>
        
        <%- include navbar.ejs %>
        
        <!--   Recipes     -->
        <h1>Recipes</h1>

        <!--   List of Recipes from Database     -->
        <table>
            <tr>
                <th>Recipe Name</th>
                <th>Ingredients</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <!--   Name and list of ingredients - for each recipe in database         -->
            <% for(var i = 0; i < recipes.length; i++) { %>
                <tr> 
                    <td><%= recipes[i].name %></td>
                    <td>
                        <ul>
                            <% for (var j = 0; j < recipes[i].ingredients.length; j++) { %>
                                <li><%= recipes[i].ingredients[j].quantity %>&nbsp; <%= recipes[i].ingredients[j].name %></li>
                            <% } %>
                        </ul>
                    </td>
                    <td><a href="/Edit_Recipe/<%= recipes[i]._id %>"><button type="button" class="btn btn-primary">Edit</button></a></td>
                    <td><button type="button" class="btn btn-danger deleteRecipe">Delete</button></td>
                    <td><input type="hidden" value="<%= recipes[i]._id %>"></td>
                </tr>
            <% } %>

        </table>
        
        
        <%- include js.ejs %>
        <script src="/js/index.js"></script>
    </body>
</html>