<!DOCTYPE html>
<html>
    <%- include head.ejs %>

    <body>
        
        <%- include navbar.ejs %>
        <link rel="stylesheet" href="/css/index.css">
        <link rel="stylesheet" href="/css/recipe.css">
        
        <!--   Recipes     -->
        <!-- <h1>Recipes</h1> -->

          <!-- List of Recipes from Database     -->
          <!--
        <table>
            <tr>
                <th>Recipe Name</th>
                <th>Ingredients</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
              Name and list of ingredients - for each recipe in database        
            <% for(var i = 0; i < recipes.length; i++) { %>
                <tr> 
                    <td><%= recipes[i].name %></td>
                    <td>
                        <ul class="list-group">
                            <% for (var j = 0; j < recipes[i].ingredients.length; j++) { %>
                                <li class="list-group-item recipeLI"><%= recipes[i].ingredients[j].quantity %>&nbsp; <%= recipes[i].ingredients[j].name %></li>
                            <% } %>
                        </ul>
                    </td>
                    <td><a href="/Edit_Recipe/<%= recipes[i]._id %>"><button type="button" class="btn btn-primary">Edit</button></a></td>
                    <td><button type="button" class="btn btn-danger deleteRecipe">Delete</button></td>
                    <td><button class="btn btn-info makeRecipe">Make Recipe</button></td>
                    <td><input type="hidden" value="<%= recipes[i]._id %>"></td>
                </tr>
            <% } %>
        </table>
    -->
        
        <!--   Trying a different display with grid     -->
        

        <main>
            <h1>Inventory Tracker</h1>
            <!-- Content -->
            <div class="contentWrapper">
                <!-- Inventory -->
                <div class="inventoryWrapper">
                    <h2>Inventory</h2>
                    <div class="ingredientsWrapper">
                        <ul class="list-group">
                        <% for (var i = 0; i < inventory.ingredients.length; i++) { %>
                            <li class="list-group-item"><%= inventory.ingredients[i].quantity %> <%= inventory.ingredients[i].name %></li>
                        <% } %>
                        </ul>
                    </div>
                    
                </div>
                <!-- Inventory End -->
                
        
                <div class="recipeWrapper">
                    <h2 id="recipesH2">Recipes</h2>
                    <!-- Dropdown Start -->
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Select Recipe
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <% for (var i = 0; i < recipes.length; i++) { %>
                                <% if (recipes[i].name !== "Inventory") { %>
                                    <a class="dropdown-item" href="/recipe/<%= recipes[i].name.split(' ').join('_') %>"><%= recipes[i].name %></a>
                                <% } %>
                            <% } %>
                        </div>
                    </div><br>
                    <!-- Dropdown End -->

                    <% if (currRecipe !== null) { %>
                        <h3>Recipe Name:</h3>
                        <% if (canMakeResult.canMake) { %>
                            <p id="recipeName" class="canMake"><%= currRecipe.name %></p>
                        <% } else { %>
                            <p id="recipeName" class="cannotMake"><%= currRecipe.name %></p>
                        <% } %>

                        <h3>Ingredients</h3>
                        <div class="ingredientsWrapper">
                            <ul class="list-group">
                                <% for (var i = 0; i < currRecipe.ingredients.length; i++) { %> 
                                    <% if (canMakeResult.hasEnoughIngredient[i]) { %>
                                        <% if (!currRecipe.ingredients[i].noQuantity) { %>
                                            <li class="list-group-item canMake"><%= currRecipe.ingredients[i].quantity %> <%= currRecipe.ingredients[i].name %></li>
                                        <% } else { %>
                                            <li class="list-group-item canMake"><%= currRecipe.ingredients[i].name %></li>
                                        <% } %>

                                    <% } else { %>
                                        <% if (!currRecipe.ingredients[i].noQuantity) { %>
                                            <li class="list-group-item cannotMake"><%= currRecipe.ingredients[i].quantity %> <%= currRecipe.ingredients[i].name %> (Misssing <%= canMakeResult.ingredientDifference[i] %>)</li>
                                        <% } else { %>
                                            <li class="list-group-item cannotMake"><%= currRecipe.ingredients[i].name %> (Missing)</li>
                                        <% } %>
                                    <% } %>
                                <% } %>
                            </ul>
                        </div>

                    <% } %>

                    <!-- <div class="recipes">
                        <% for (var i = 0; i < recipes.length; i++) { %>
                            <% if (recipes[i].name !== "Inventory") { %>
                                <div class="recipe">
                                    <h3>Recipe Name</h3>
                                    <h5 class="display-4"><%= recipes[i].name %></h5>
    
                                    <h3>Ingredients</h3>
                                    <div class="ingredientsWrapper">
                                        <ul class="list-group">
                                            <% recipes[i].ingredients.forEach(function(ing) { %>
                                                <% if (!ing.noQuantity) { %>
                                                    <li class="list-group-item"><%= ing.quantity %> <%= ing.name %></li>
                                                <% } else { %>
                                                    <li class="list-group-item"><%= ing.name %></li>
                                                <% } %>
                                                
                                            <% }); %>
                                        </ul>
                                    </div>
                                    
                                </div>
                            <% } %>
                        <% } %>
                    </div> -->
                    <!-- Recipes End -->
                </div>
                <!-- Recipe Wrapper End  -->
            </div> 
            <!--  Content End-->
        </main>

        
        
        
        <%- include js.ejs %>
        <script src="/js/index.js"></script>
    </body>
</html>